<div class="sticky">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <!-- <h1><a href="#">OpenBCI</a></h1> -->
        <div class="logo"></div>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li><a href="/store">STORE</a></li>
        <li><a href="#">WHAT IS IT</a></li>
        <li><a href="#">PROJECTS</a></li>
        <li><a href="/" class="selected">COMMUNITY</a></li>
        <li><a href="/">FORUM</a></li>
        <li><a href="/">RESOURCES</a></li>
      </ul>
    </section>
  </nav>
</div>
