<!-- OpenBCI Homepage -->

<!-- header -->
<% include ../includes/header.ejs %>
<% include ../includes/nav.ejs %>

<!-- Content starts here -->

<div class="container" style="min-height: 570px;">
	<img class="headercircuitgrey" src="../img/headercircuitgrey.png">
	<img class="headercircuit" src="../img/headercircuit.png">
	
	<div class="headerimage">
		<div class="headerimagecaption">
			<h1 class="headerimageh">Copyright Notice</h1>
      		<div class="headerp">
      		Editorial contents of the OpenBCI.com website, such as texts and photos, are released as Creative Commons Attribution ShareAlike 3.0.<br><br>
   
      		This means you can use them on your own derived works, in part or completely, as long as you also adopt the same license. You find the complete text of the license here.
OpenBCI brand, OpenBCI logo, design of the website and design of the boards are copyright of OpenBCI and cannot be used without formal permission. For informations about the right way to use them, please write to contact@openbci.com<br><br>

<img class="ccimage" src="../img/creativecommons.jpg"></div>
      	</div>
	</div>
		

</div>

<!-- Content ends here -->

<% include ../includes/footer.ejs %>