<!-- OpenBCI Homepage -->

<!-- header -->
<% include ../includes/header.ejs %>
<% include ../includes/nav.ejs %>

<!-- Content starts here -->
<div class="container">
	<img class="headercircuitgrey" src="../img/headercircuitgrey.png">
	<img class="headercircuit" src="../img/headercircuit.png">
			
	<div class="headerimage">
		<div class="headerimagecaption">
			<h1 class="headerimageh">Downloads</h1>
			<div class="headerp">Here you can download the latest versions of code for both your hardware and software. In addition you'll find the design files for the OpenBCI 3D-printable EEG headset. Don't know what any of this means? that's ok too! Check out our <a target="_blank" href="http://docs.openbci.com/hardware/01-OpenBCI_Hardware">Docs</a> page for our <a target="_blank" href="http://docs.openbci.com/tutorials/01-GettingStarted">Getting Started</a> guide and other reference material.</div>
		</div>
	</div>


	<secton>
		<div class="bluebar"><center>HARDWARE</center></div>
		<p>Here are the latest versions of the OpenBCI hardware code (also known as “firmware”). A version of this code is already uploaded to your OpenBCI Board. However, you can easily upload modified code to your OpenBCI Board. Feel free to dig in, adjust settings, and optimize the firmware for your specific bio-hacking needs!</p>
		<div class="col-md-4 col-sm-6 downloadElement">
			<img class="downloadimage" src="../img/downloadlogos/8bit.png" alt="" width="200px">
			<div class="download-sidebar">
				<h3 class="downloadheader">8bit (Arduino™)</h3>
				<p class="downloadp">Last Updated:</p>
				<p class="downloadp">16 Nov 2014</p>
				<a class="btn btn-lg btn-primary" href="https://github.com/OpenBCI/OpenBCI_8bit/archive/master.zip" target="_blank " role="button"><span class="glyphicon glyphicon-arrow-down"></span> .ZIP</a>
				<a class="btn btn-lg btn-primary" href="https://github.com/OpenBCI/OpenBCI_8bit" target="_blank " role="button"><span class="glyphicon glyphicon-new-window"></span> GIT</a>
			</div>
			<div class="clearfix"></div>		
		</div>
		<div class="col-md-4 col-sm-6 downloadElement">
			<img class="downloadimage" src="../img/downloadlogos/32bit.png" alt="" width="200px">
			<div class="download-sidebar">
				<h3 class="downloadheader">32bit (chipKIT™)</h3>
				<p class="downloadp">Last Updated:</p>
				<p class="downloadp">16 Nov 2014</p>
				<a class="btn btn-lg btn-primary" href="https://github.com/OpenBCI/OpenBCI_32bit/archive/master.zip" target="_blank " role="button"><span class="glyphicon glyphicon-arrow-down"></span> .ZIP</a>
				<a class="btn btn-lg btn-primary" href="https://github.com/OpenBCI/OpenBCI_32bit" target="_blank " role="button"><span class="glyphicon glyphicon-new-window"></span> GIT</a>
			</div>
			<div class="clearfix"></div>	
		</div>		
	
	<div class="clearfix"></div>
	
	<section>
		<div class="bluebar"><center>SOFTWARE (OpenBCI GUI)</center></div>
		<p>Here are the .app files and .exe files to the run OpenBCI GUI without needing to download and install processing. Refer to the following <a href="http://docs.openbci.com/">documentation</a> for more information on what to do once you have the OpenBCI GUI up and running!</p>
		<div class="col-md-4 col-sm-6 downloadElement">
			<img class="downloadimage" src="../img/downloadlogos/mac.png" alt="" width="200px">
			<div class="download-sidebar">
				<h3 class="downloadheader">MAC</h3>
				<p class="downloadp">Last Updated:</p>
				<p class="downloadp">3 Dec 2014</p>
				<a class="btn btn-lg btn-primary" href="http://ultracortex.com/downloads/application.macosx.zip" target="_blank " role="button"><span class="glyphicon glyphicon-arrow-down"></span> OS X</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-4 col-sm-6 downloadElement">
			<img class="downloadimage" src="../img/downloadlogos/windows.png" alt="" width="200px">
			<div class="download-sidebar">	
				<h3 class="downloadheader">Windows</h3>
				<p class="downloadp">Last Updated:</p>
				<p class="downloadp">3 Dec 2014</p>
				<a class="btn btn-lg btn-primary" href="http://ultracortex.com/downloads/application.windows32.zip" target="_blank " role="button"><span class="glyphicon glyphicon-arrow-down"></span>32-bit</a>
				<a class="btn btn-lg btn-primary" href="http://ultracortex.com/downloads/application.windows64.zip" target="_blank " role="button"><span class="glyphicon glyphicon-arrow-down"></span>64-bit</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-4 col-sm-6 downloadElement">
			<img class="downloadimage" src="../img/downloadlogos/linux.png" alt="" width="200px">
			<div class="download-sidebar">
				<h3 class="downloadheader">Linux</h3>
				<p class="downloadp">Last Updated:</p>
				<p class="downloadp">3 Dec 2014</p>
				<a class="btn btn-lg btn-primary" href="http://ultracortex.com/downloads/application.linux32.zip" target="_blank " role="button"><span class="glyphicon glyphicon-arrow-down"></span>32-bit</a>
				<a class="btn btn-lg btn-primary" href="http://ultracortex.com/downloads/application.linux64.zip" target="_blank " role="button"><span class="glyphicon glyphicon-arrow-down"></span>64-bit</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</section>
	<div class="clearfix"></div>
	
	<section>
		<div class="bluebar"><center>SDKs</center></div>
		<p>The links below include OpenBCI software templates for developers. This will continue to grow as our community continues to use OpenBCI for new things! If you’ve developed a software template for OpenBCI, don’t hesitate to <a href="#">share it with us</a>. For a list of research tools that are compatible with OpenBCI, refer to our <a href="#">Tools Page.</a></p>
		<div class="col-md-4 col-sm-6 downloadElement">
			<img class="downloadimage" src="../img/downloadlogos/processing2.png" alt="" width="200px">
			<div class="download-sidebar">
				<h3 class="downloadheader">Processing</h3>
				<p class="downloadp">Last Updated:</p>
				<p class="downloadp">16 Nov 2014</p>
				<a class="btn btn-lg btn-primary" href="https://github.com/OpenBCI/OpenBCI" target="_blank " role="button"><span class="glyphicon glyphicon-arrow-down"></span> .ZIP</a>
				<a class="btn btn-lg btn-primary" href="https://github.com/OpenBCI/OpenBCI" target="_blank " role="button"><span class="glyphicon glyphicon-new-window"></span> GIT</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-4 col-sm-6 downloadElement">
			<img class="downloadimage" src="../img/downloadlogos/openframeworks2.png" alt="" width="200px">
			<div class="download-sidebar">	
				<h3 class="downloadheader">OpenFrameworks</h3>
				<p class="downloadp">Last Updated:</p>
				<p class="downloadp">Coming Soon!</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-4 col-sm-6 downloadElement">
			<img class="downloadimage" src="../img/downloadlogos/python2.png" alt="" width="200px">
			<div class="download-sidebar">
				<h3 class="downloadheader">Python</h3>
				<p class="downloadp">Last Updated:</p>
				<p class="downloadp">Coming Soon!</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-4 col-sm-6 downloadElement">
			<img class="downloadimage" src="../img/downloadlogos/nodeJS.png" alt="" width="200px">
			<div class="download-sidebar">
				<h3 class="downloadheader">Node.js</h3>
				<p class="downloadp">Last Updated:</p>
				<p class="downloadp">Coming Soon!</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</section>
	<div class="clearfix"></div>
	<section>
		<div class="bluebar"><center>HEADWARE</center></div>
		<p>The links below lead to the design and print files of the latest version of the OpenBCI 3D-printable EEG Headset. Also, don't forget to check out the <a href="#">Headset Getting Started Guide</a> to learn more about printing and assembling the headset, as well as modifying and contributing to the design!</p>
		<div class="col-md-4 col-sm-6 downloadElement">
<!--
			<img class="downloadimage" src="../img/downloadlogos/headware.png" alt="" width="200px"/>
			<div class="download-sidebar">
				<h3 class="downloadheader">3D Printed headset</h3>
				<p class="downloadp">Last Updated:</p>
				<p class="downloadp">01 January 2014</p>
				<a class="btn btn-lg btn-primary" href ='#' role ="button"><span class="glyphicon glyphicon-arrow-down"></span> .ZIP</a>
			</div>
			<div class="clearfix"></div>
-->
<img class="downloadimage" src="../img/downloadlogos/headset.png" alt="" width="200px">
			<div class="download-sidebar">
				<h3 class="downloadheader">3D Printed Headset</h3>
				<p class="downloadp">Last Updated:</p>
				<p class="downloadp">15 May 2014</p>
<!-- 				<a class = "btn btn-lg btn-primary" href ='https://github.com/OpenBCI/OpenBCI' target="_blank " role ="button"><span class="glyphicon glyphicon-arrow-down"></span> .ZIP</a> -->
				<a class="btn btn-lg btn-primary" href="https://github.com/OpenBCI/Spiderclaw" target="_blank " role="button"><span class="glyphicon glyphicon-new-window"></span> GIT</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</section>
	<div class="clearfix"></div>

</secton></div>
<!-- Content ends here -->

<% include ../includes/footer.ejs %>