<!-- OpenBCI Homepage -->

<!-- header -->
<% include ../includes/header.ejs %>
<% include ../includes/nav.ejs %>

<!-- Content starts here -->

<div class="container">
	<!--
		<script type="text/javascript" src="/js/forum/js/embed.js"></script> <noscript>Please enable JavaScript to view the <a href="http://vanillaforums.com/?ref_noscript">discussions powered by Vanilla.</a></noscript>
	-->
	<iframe style="border: none;" width="100%" height="100%" src="http://ultracortex.com/forum/"></iframe> 
</div>

<!-- Content ends here -->

<% include ../includes/footer.ejs %>