<!-- OpenBCI Homepage -->

<!-- header -->
<% include ../includes/header.ejs %>
<% include ../includes/nav.ejs %>

<!-- Content starts here -->
<div class="container">
	<div id="this-carousel-id" class="carousel slide" data-ride="carousel"><!-- class of slide for animation -->
	  <ol class="carousel-indicators">
        <li data-target="#this-carousel-id" data-slide-to="0" class="active"></li>
        <li data-target="#this-carousel-id" data-slide-to="1"></li>
        <li data-target="#this-carousel-id" data-slide-to="2"></li>
        <li data-target="#this-carousel-id" data-slide-to="3"></li>
<!--         <li data-target="#this-carousel-id" data-slide-to="4"></li> -->
      </ol>
	  <div class="carousel-inner">
	    
	    <div class="item active"><!-- class of active since it's the first item -->
	      <img class="fullCarousel" src="../img/frontCarousel/closeUp.jpg" alt="" />
	       <div class="container">
            <div class="carousel-caption">
              <h1 class="slideshowh"><span class="highlighted">Claim Your OpenBCI Board Today!</span></h1>
              <p><span class="highlightedp">Visit our new online store and reserve</span><br><span class="highlightedp"> a board from our 1st manufacturing run.</span></p>
              <p><a class="btn btn-lg btn-primary" href="http://openbci.com/opencart" role="button">GO TO STORE</a></p>
            </div>
          </div>
	    </div>
	    
<!--
	    <div class="item">
	      <img class="fullCarousel" src="../img/frontCarousel/slide2.png" alt="" />
	    	       <div class="container">
            <div class="carousel-caption">
              <h1 class="slideshowh"><span class="highlighted">Thoughtworks NYC Hackathon</span></h1>
              <p><span class="highlightedp">Join us for a fun hackathon November 16th - 17th!</span></p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">REGISTER</a></p>
            </div>
          </div>
	    </div>
-->
	    
	    <div class="item">
	      <img class="fullCarousel" src="../img/frontCarousel/cogTech.jpg" alt="" />
	    	       <div class="container">
            <div class="carousel-caption">
              <h1 class="slideshowh"><span class="highlighted">Join The OpenBCI Community!</span></h1>
              <p><span class="highlightedp">Apply to contribute to our community page,</span><br><span class="highlightedp">and share your BCI ideas and research with the world.</span></p>
              <p><a class="btn btn-lg btn-primary" href="http://openbci.com/community" role="button">COMMUNITY PAGE</a></p>
            </div>
          </div>
	    </div>
	    
	    <div class="item">
	      <img class="fullCarousel" src="../img/frontCarousel/headsets.jpg" alt="" />
	       <div class="container">
            <div class="carousel-caption">
              <h1 class="slideshowh"><span class="highlighted">Claim Your OpenBCI Board Today!</span></h1>
              <p><span class="highlightedp">Visit our new online store and reserve</span><br><span class="highlightedp"> a board from our 1st manufacturing run.</span></p>
              <p><a class="btn btn-lg btn-primary" href="http://openbci.com/opencart" role="button">GO TO STORE</a></p>
            </div>
          </div>
	    </div>
	    
<!--
	    <div class="item">
	      <img class="fullCarousel" src="../img/frontCarousel/slide3.jpg" alt="" />
	    	       <div class="container">
            <div class="carousel-caption">
              <h1 class ="slideshowh"><span class="highlighted">Did you make something cool?</span></h1>
              <p><span class="highlightedp">Did you use OpenBCI on your latest project? Let us know and get</span><br><span class="highlightedp">featured on our community page!</span></p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">SUBMIT A PROJECT</a></p>
            </div>
          </div>
	    </div>
-->
	   	
	   	<div class="item">
	      <img class="fullCarousel" src="../img/frontCarousel/makerFaire.jpg" alt="" />
	    	       <div class="container">
            <div class="carousel-caption">
              <h1><span class="highlighted">Come See Us At Maker Faire!!</span></h1>
              <p><span class="highlightedp">Stop by our booth and say hi this September 20-21!</span></p>
              <p><a class="btn btn-lg btn-primary" href="http://makerfaire.com/" role="button">MAKER FAIRE NYC</a></p>
            </div>
          </div>
	    </div>
	    
<!--
	    <div class="item">
	      <img class="fullCarousel" src="../img/frontCarousel/closeUp.jpg" alt="" />
	       <div class="container">
            <div class="carousel-caption">
              <h1 class="slideshowh"><span class="highlighted">Claim Your OpenBCI Board Today!</span></h1>
              <p><span class="highlightedp">Visit our new online store and reserve</span><br><span class="highlightedp"> a board from our 1st manufacturing run.</span></p>
              <p><a class="btn btn-lg btn-primary" href="http://openbci.com/opencart" role="button">GO TO STORE</a></p>
            </div>
          </div>
	    </div>
-->


	  </div><!-- /.carousel-inner -->
	  <!--  Next and Previous controls below
	        href values must reference the id for this carousel -->
			<a class="left carousel-control" href="#this-carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
			<a class="right carousel-control" href="#this-carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	</div><!-- /.carousel -->
	<div class ="orangebar"></div>
</div>

	<div class="container">
		<div class="col-md-4 col-left">
			<center><img class="fronticonimage" src="../img/frontCarousel/1.png"/></center>
			<div class="frontheader"><center>WHO WE ARE</center></div>
			<div class="narrowcolumn">We are a community of researchers, engineers, artists, scientists, designers, makers, and more. The one thing we all have in common? We share an unfaltering passion for harnessing the electrical signals of the human brain and body to further understand and expand who we are. As our community continues to grow, so do the possibilities of what we can discover and create. What can we build together?</div>
		</div>
		<div class="col-md-4">
			<center><img class="fronticonimage" src="../img/frontCarousel/2.png"/></center>
			<div class="frontheader"><center>WHAT WE DO</center></div>
			<div class="narrowcolumn">OpenBCI stands for open-source brain-computer interface (BCI). The OpenBCI Board is a versatile and affordable analog-to-digital converter that can be used to sample electrical brain activity (EEG), muscle activity (EMG), heart rate (EKG), and more. It is compatible with any type of electrode and is supported by an ever-growing, open-source framework of signal processing applications.</div>
		</div>
		<div class="col-md-4 col-right">
			<center><img class="fronticonimage" src="../img/frontCarousel/3.png"/></center>
			<div class="frontheader"><center>WHY WE DO IT</center></div>
			<div class="narrowcolumn">The biggest challenges we face in understanding what makes us who we are cannot be solved by a company, an institution, or even an entire field of science. We believe these discoveries will only be made through an open forum of shared knowledge and concerted effort, by people from a variety of disciplines. Our vision is to realize the potential of the open-source movement to accelerate innovation in brain science.</div>
		</div>
		
		<div class="greybar"></div>
		<center><p id="featureMain" class ="feature">AS SEEN IN</p></center>
		<div class ="presslogos">
		
		
		</div>
		
			<div class="headerimage">
		<div class="col-sm-6">
			
		<img class ="asseeninsquare" src ="../img/asseenin/cnet.png"/>
		<img class ="asseenin" src ="../img/asseenin/fastcompany.png"/>
		<img class ="asseenin" src ="../img/asseenin/forbes.jpg"/>
		<img class ="asseenin" src ="../img/asseenin/wired.png"/>
		<img class ="asseenin" src ="../img/asseenin/venturebeat.png"/>
		<img class ="asseenin" src ="../img/asseenin/kurzweilai.png"/>
		<img class ="asseenin" src ="../img/asseenin/rhizome.png"/>
		<img class ="asseenin" src ="../img/asseenin/theverge.png"/>
		<img class ="asseenin" src ="../img/asseenin/boingboing.png"/>
		<img class ="asseeninsquare" src ="../img/asseenin/psfk.png"/>

			
		</div>
		<div class="col-sm-6">
			<iframe width="100%" height="340px" src="https://www.kickstarter.com/projects/openbci/openbci-an-open-source-brain-computer-interface-fo/widget/video.html" frameborder="0" scrolling="no"> </iframe>
		</div>
	</div>
	<div class="clearfix"></div>
	
</div>
	
	</div>
</div>
<!-- Content ends here -->

<% include ../includes/footer.ejs %>