<!-- OpenBCI Homepage -->

<!-- header -->
<% include ../includes/header.ejs %>
<% include ../includes/nav.ejs %>

<!-- Content starts here -->

<div class="container">
	<img class="headercircuitgrey" src ="../img/headercircuitgrey.png"/>
	<img class="headercircuit" src = "../img/headercircuit.png"/>
	
	<div class="headerimage">
		<div class="col-sm-9">
			<h1 class="headerimageh">Become A Partner </h1>
			<p class="headerp">The biggest challenges we face in understanding what makes us who we are cannot be solved by a company, an institution, or even an entire field of science. We believe these discoveries will only be made through an open forum of shared knowledge and concerted effort, by people from a variety of disciplines. Our vision is to realize the potential of the open-source movement to accelerate innovation in brain science.<br><br>OpenBCI Research Partners are a focused group leading the way in the development of applications, implementation, signal processing, and classification. If your company, organization, or lab is interested in becoming an Official OpenBCI Research Partner, please <a href="https://ultracortex.com/stage/index.php/contact">contact us</a> to learn more.</p>	
		</div>
		<div class="col-sm-3">
			<img src="../img/researchpartners/research2.png" style="margin-top: 50px;">
		</div>
	</div>
	<div class="clearfix"></div>
	
</div>
<div class="container">
		<div class="greybarclear">
			<div class="greybar"></div>
			<center><p id="featureResearch" class ="feature">OPENBCI RESEARCH PARTNERS</p></center><br>
	</div>

		<a href="http://www.acurebrainlab.com/" target="_blank"><div class="research-partner col-md-2 col-sm-3 col-xs-4">
			<div class="partner-inner">
				<img class ="partner-image" src = "../img/researchpartners/acure2.png"/>
				<p class="reasearchheader">ACURE BRAIN LAB</p>
			</div>
		</div></a>
		<a href ="http://www.cogsci.ucsd.edu/~desa/bcigroup/" target="_blank"><div class="research-partner col-md-2 col-sm-3 col-xs-4">
			<div  class="partner-inner">
				<img class="partner-image" src="../img/researchpartners/desalab2.png"/>
				<p class="reasearchheader">DE SA LAB</p>
			</div>
		</div></a>
		<a href ="http://www.fablabsuk.co.uk/" target="_blank"><div class="research-partner col-md-2 col-sm-3 col-xs-4">
			<div  class="partner-inner">
				<img class="partner-image" src="../img/researchpartners/fablabsuk2.png"/>
				<p class="reasearchheader">FAB LABS UK</p>
			</div>
		</div></a>
		<a href ="http://familab.org/blog/" target="_blank"><div class="research-partner col-md-2 col-sm-3 col-xs-4">
			<div  class="partner-inner">
				<img class="partner-image" src="../img/researchpartners/familab2.png"/>
				<p class="reasearchheader">FAMILAB</p>
			</div>
		</div></a>
		<a href ="http://eng.kist.re.kr/kist_eng/?sub_num=472" target="_blank"><div class="research-partner col-md-2 col-sm-3 col-xs-4">
			<div  class="partner-inner">
				<img class="partner-image" src="../img/researchpartners/bionicskist2.png"/>
				<p class="reasearchheader">KIST - BIONICS</p>
			</div>
		</div></a>
		<a href ="http://www.mensiatech.com/" target="_blank"><div class ="research-partner col-md-2 col-sm-3 col-xs-4">
			<div  class="partner-inner">
				<img class ="partner-image" src = "../img/researchpartners/mensia2.png"/>
				<p class ="reasearchheader">MENSIA TECHNOLOGIES</p>
			</div>
		</div></a>
		<a href ="http://www.neuropro.ch/" target="_blank"><div class ="research-partner col-md-2 col-sm-3 col-xs-4">
			<div  class="partner-inner">
				<img class ="partner-image" src = "../img/researchpartners/neuropro2.png"/>
				<p class ="reasearchheader">NEUROPRO</p>
			</div>
		</div></a>
		<a href ="http://cse.seu.edu.cn/people/xyliu/" target="_blank"><div class="research-partner col-md-2 col-sm-3 col-xs-4">
			<div  class="partner-inner">
				<img class ="partner-image" src = "../img/researchpartners/xuyinglu2.png"/>
				<p class ="reasearchheader">SOUTHEASTERN UNIVERSITY</p>			
			</div>
		</div></a>
		<a href ="http://synapticdesign.com/" target="_blank"><div class ="research-partner col-md-2 col-sm-3 col-xs-4">
			<div  class="partner-inner">
				<img class ="partner-image" src = "../img/researchpartners/synapticdesign2.png"/>
				<p class ="reasearchheader">SYNAPTIC DESIGN</p>			
			</div>
		</div></a>
		<a href ="http://www.thoughtworks.com/" target="_blank"><div class ="research-partner col-md-2 col-sm-3 col-xs-4">
			<div  class="partner-inner">
				<img class ="partner-image" src = "../img/researchpartners/thoughtworks.png"/>
				<p class ="reasearchheader">THOUGHTWORKS</p>
			</div>
		</div></a>
		<a href ="http://www.meetup.com/volumetric/" target="_blank"><div class ="research-partner col-md-2 col-sm-3 col-xs-4">
			<div  class="partner-inner">
				<img class ="partner-image" src = "../img/researchpartners/v2.png"/>
				<p class ="reasearchheader">VOLUMETRIC SOCIETY</p>			
			</div>
		</div></a>
	</div>
</div>

<!-- Content ends here -->

<% include ../includes/footer.ejs %>