<!-- OpenBCI Homepage -->

<!-- header -->
<% include ../includes/header.ejs %>
<% include ../includes/nav.ejs %>

<!-- Content starts here -->

<div class="container">
		<script type="text/javascript" src="http://openbci.com/forum/js/embed.js"></script> <noscript>Please enable JavaScript to view the <a href="http://vanillaforums.com/?ref_noscript">discussions powered by Vanilla.</a></noscript> 
</div>

<!-- Content ends here -->

<% include ../includes/footer.ejs %>