<% include ../includes/header %>

<!-- nav bar -->
<% include ../includes/nav %>

<!-- page title -->
<title><%= title %></title>

<!-- Content starts here -->
<div class="row">
	<div class="small-12 columns">
		Yow1
	</div>
</div>


<!-- footer -->
<% include ../includes/footer %>
