<% include ../includes/header %>

<!-- nav bar -->
<% include ../includes/nav_docs %>

<!-- page title -->
<title><%= title %></title>

<!-- Content starts here -->

Yo

<!-- footer -->
<% include ../includes/footer %>
